@()

  @main("log") {
    <center>
      <br>
  <div class="Login">
    <div>
      <label><b>Username</b></label>
      <input id="username" type="text" v-model = "input.username" placeholder="Enter Username" required>
    </div>
    <div>
      <label><b>Password</b></label>
      <input id="password" type="password" v-model = "input.password" placeholder="Enter Password" required>
    </div>

    <div>
      <button onclick="window.location.href = '/logAttempt?username='+document.getElementById('username').value+'&password='+document.getElementById('password').value">Log In</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button onclick="window.location.href='/'">Cancel</button>
    </div>
  </div>
    </center>
  }
